RUST_LOG=info

NETHERWICK_LIVE_PORT=8787
NETHERWICK_SIM_STEPS=1000000000
NETHERWICK_TICK_DELAY_MS=100

NETHERWICK_NEO4J_USER=neo4j
NETHERWICK_NEO4J_PASSWORD=password
NETHERWICK_NEO4J_HTTP_PORT=7474
NETHERWICK_NEO4J_BOLT_PORT=7687

NETHERWICK_QDRANT_HTTP_PORT=6333
NETHERWICK_QDRANT_GRPC_PORT=6334
